#root{
    background: linear-gradient(135deg, #14001f, #3b0757, #710b2e, #a10f20);
box-shadow:
  0 0 10px rgba(150, 0, 255, 0.5),
  0 0 25px rgba(255, 0, 80, 0.35);
}
body{
    background: linear-gradient(
  135deg,
  #6a00ff 0%,
  #8a2be2 35%,
  #4169e1 65%,
  #00bfff 100%
);
}
#content1
{
    width:70px;
    padding-left:65px;
    padding-top:5px;
}
#textare{
    width:200px;
}
#cont{
    width:100%;
    display: flex;
}
.titletop{
    color:whitesmoke;
    font-size:60px;
    padding-top: 30px;
    margin-bottom:20px
}
#upperlayerspan{
    width:100%;
    height:100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#upperlayerspan>button,#upperlayerspan>select{
    height:30px;
    width:130px;
    background: linear-gradient(
        135deg,
        #00bfff 0%,
        #0077ff 35%,
        #001a33 70%,
        #000000 100%
        );
        color:white
}
select>option{
    background-color: skyblue;
}
.outer{
    height:300px;
    width:200px;
    background: linear-gradient(
        135deg,
        #ff0033 0%,
        #b30024 35%,
        #3d0010 70%,
        #000000 100%
        );
        color:white;
        border-radius: 5px;
}
.whole{
    padding-left: 15px;
    padding-top: 30px;
    height:1000px;
    width:100%;
    display:grid;
    grid-template-columns: 222px 222px 222px 222px 222px;
    grid-template-rows: 315px 315px 315px 315px 315px;
}
.upper{
    font-size: 25px;
    padding-top:10px;
    padding-bottom:15px;
}
#delete{
    background: linear-gradient(
        135deg,
        #ff0033 0%,
        #ff0055 30%,
        #8a00ff 70%,
        #5b00b8 100%
        );
    width:70px;
    color:white;
    height:30px;
    font-size:14px
}
.title{
    padding-top: 5px;
    font-size:20px;
}
.content{
    padding-top: 30px;padding-right:6px;
    padding-left:6px;
    font-size:15px;
}
.out{
    background-color: white;
    width:400px;
    height:300px;
    background: linear-gradient(
        135deg,
        #ffffff 0%,
        #87ceeb 40%,
        #00bfff 65%,
        #0066ff 100%
        );
}
.outform{
    padding-top:130px;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}
#top{
    margin-top:16px;
    font-size:30px;
    color:rgb(13, 54, 79);
}
.addinput{
    margin-top:30px;
    color:black;
}
#formbutton{
    display: flex;
    justify-content: space-around;
}
#formbutton>button{
    background-color: white;
    width:80px;
    height:25px;
}